@charset "utf-8";
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

#Wrap {
  display: grid;
  grid-template-rows: 10;
}

/* 헤더 */

.top {
  width: 100%;
  border: 1px solid #a0a0a0;
}

header section nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  width: 1040px;
  margin: 0 auto;
}

header section nav h1 {
  padding: 30px;
}

header section nav ul {
  display: flex;
  align-items: center;
  text-align: center;
}

header section nav ul li {
  font-size: 16px;
  color: #666;
  box-sizing: border-box;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  padding: 14px 6px;
  width: 160px;
  cursor: pointer;
  font-weight: 600;
}

header section nav ul li:hover {
  background-color: white;
}

header section nav ul li:nth-of-type(2) {
  border: none;
}

header section nav ul li:last-child {
  border-right: none;
}

header section nav button:first-child {
  background-color: orange;
}

header section nav button:nth-of-type(2) {
  background-color: green;
}

header section nav button:last-child {
  background-color: purple;
}

header section nav div {
  display: table;
  padding-top: 24px;
}

header section nav div button {
  font-size: 16px;
  color: #666;
  border: none;
  padding: 12px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* 헤더 검색,로고,로그인 */
.middle {
  display: flex;
  justify-content: center;
  gap: 12%;
  padding-top: 20px;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 4px solid orange;
}

.middle ul {
  display: flex;
}

/* 검색창 */
.search li {
  position: relative;
}

.search li input[type="text"] {
  width: 240px;
  height: 32px;
  text-indent: 10px;
}

.search li input[type="submit"] {
  position: absolute;
  right: 1px;
  width: 26px;
  height: 24px;
  padding: 0;
  text-indent: -999px;
  border: none;
  top: 6px;
  background: url("../images/btn_search1.gif") no-repeat left 0;
  cursor: pointer;
}

/* 로그인 */
.util {
  gap: 20px;
  color: #828282;
  font-size: 14px;
  border: 1px dashed coral;
  border-radius: 4px;
  padding: 10px;
}

/* 메인로고 */
.mainLogo {
  position: relative;
}

.mainLogo img {
  transition: all 0.4s;
}

.mainLogo h2 {
  visibility: hidden;
  font-size: 26px;
  color: green;
  position: absolute;
  top: 20px;
  transform: translate(10px, 10px);
}

/* gnb */
.bottom {
  display: flex;
  flex-direction: column;
  position: relative;
}

.gnb {
  position: relative;
  font-size: 16px;
  color: #666;
  font-weight: 600;
}

.gnb button {
  position: absolute;
  top: 16px;
  right: 2%;
  width: 24px;
  height: 24px;
  border: none;
  background: #fff;
  padding: 0;
}

.gnb button img {
  width: 24px;
  height: 24px;
}

.gnb > ul {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.gnb > ul li {
  padding: 20px 80px;
}

.gnb > ul li:hover {
  background-color: orange;
  color: white;
}

.submenu {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #d2d2d2;
  z-index: 9999;
  position: absolute;
  top: 100%;
  background-color: white;
  opacity: 0;
}

.submenu div {
  display: flex;
  gap: 80px;
}

.submenu div {
  overflow: hidden;
}

.submenu.fadeIn {
  opacity: 1;
  transition: opacity 0.6s;
}

.submenu.fadeOut {
  opacity: 0;
  transition: opacity 0.6s;
}

.submenu ul {
  width: 160px;
  padding: 20px 0 20px 20px;
  border-left: 1px solid #d2d2d2;
}

.submenu ul li {
  padding: 6px 0;
  color: #666;
}

.submenu ul li a:hover {
  color: black;
  cursor: pointer;
}

/* 슬라이드 */
/* main {
  overflow: hidden;
  font-family: "Noto Sans KR", Montserrat, "Malgun Gothic", Dotum, sans-serif;
} */

.slideWrap input[id*="slide"] {
  display: none;
}

.bannerContainer {
  width: 100%;
  margin: auto;
}

.bannerWrap .slideWrap {
  overflow: hidden;
}

.bannerWrap .slideList {
  white-space: nowrap;
  font-size: 0; /*안쪽 빈영역 삭제 */
}

.bannerWrap .slideList > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.5s;
}

.bannerWrap .slideList > li > a {
  display: block;
  position: relative;
}

.bannerWrap .slideList > li > a img {
  width: 100%;
  height: 570px;
}

.bannerWrap .slideList label {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}

.bannerWrap .slideList .left {
  left: 30px;
  background: url("../images/arrow_right.png") center center / 100% no-repeat;
  transform: rotate(180deg);
}

.bannerWrap .slideList .right {
  right: 35px;
  background: url("../images/arrow_right.png") center center / 100% no-repeat;
}

.bannerWrap .slideWrap [id="slide01"]:checked ~ .slideList > li {
  transform: translateX(0%);
}
.bannerWrap .slideWrap [id="slide02"]:checked ~ .slideList > li {
  transform: translateX(-100%);
}
.bannerWrap .slideWrap [id="slide03"]:checked ~ .slideList > li {
  transform: translateX(-200%);
}
.bannerWrap .slideWrap [id="slide04"]:checked ~ .slideList > li {
  transform: translateX(-300%);
}
.bannerWrap .slideWrap [id="slide05"]:checked ~ .slideList > li {
  transform: translateX(-400%);
}
.bannerWrap .slideWrap [id="slide06"]:checked ~ .slideList > li {
  transform: translateX(-500%);
}
.bannerWrap .slideWrap [id="slide07"]:checked ~ .slideList > li {
  transform: translateX(-600%);
}

/* what's new */
.whatInner {
  margin: 0 auto;
  width: 1040px;
  padding-top: 60px;
}

.titleWrap {
  margin: 40px 0;
  text-align: center;
  line-height: 40px;
  position: relative;
}

.titleWrap strong {
  font-size: 40px;
  color: #272830;
  font-weight: 900;
}

.titleWrap .subTitle {
  font-size: 20px;
  font-weight: 300;
  color: #272830;
}

.line1 {
  position: absolute;
  width: 360px;
  height: 1px;
  background-color: black;
  top: 20px;
  left: 0;
}

.line2 {
  position: absolute;
  width: 360px;
  height: 1px;
  background-color: black;
  top: 20px;
  right: 10px;
}

/* 이미지 박스 */
.innerImg ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imgBox {
  width: 235px;
  height: 270px;
}

.imgBox .imgList {
  overflow: hidden;
  width: 235px;
  height: 165px;
}

.imgBox .imgList:hover img {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.4s;
}

.innerContent {
  padding: 20px 0;
  line-height: 22px;
}

.fir {
  text-align: center;
  font-size: 14px;
}

.sec {
  text-align: center;
  font-size: 18px;
}

/* 티켓 */
.ticketInfo {
  padding: 60px 0;
  margin: 0 auto;
  width: 1040px;
}

.small {
  display: block;
  font-size: 14px;
  color: #3b3b3b;
  margin-bottom: 10px;
}

.ticketInner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.ticketInner li {
  line-height: 1.6;
  width: 20%;
}

.ticketInner li:hover {
  cursor: pointer;
}

.ticketInner li dl dt {
  color: #272830;
  font-size: 18px;
  font-weight: 600;
}

.ticketInner li dl dd {
  color: #ff4c2b;
  font-size: 14px;
  text-indent: 4px;
  font-weight: 500;
}

.ticketInner li img {
  width: 62px;
  height: 62px;
}

/* ticketBtn */
.btnArrow {
  text-align: center;
  margin-top: 40px;
}

.btnArrow i {
  color: orangered;
  font-size: 20px;
  padding-left: 10px;
}

.btnArrow i:hover {
  color: red;
}

.ticketBtn {
  display: inline-block;
  padding: 14px 0;
  width: 280px;
  border: 1px solid #ff4c1c;
  border-radius: 30px;
  margin-top: 40px;
}

.ticketBtn span {
  color: #444;
}

.ticketBtn span strong {
  font-weight: 500;
  margin-right: 10px;
}

/* 에버랜드 꿀팁 */
.goolTip {
  margin: 0 auto;
  width: 1040px;
  padding: 60px 0;
}

.uniqueTitle {
  font-family: "Single Day", cursive;
  background: linear-gradient(#de6161 40%, #2657eb 40%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
}

.goolTip article .gooltipInner {
  display: flex;
  justify-content: space-between;
}

.gooltipInner li {
  overflow: hidden;
}

.gooltipInner li dl {
  padding: 20px 0;
  text-align: center;
  line-height: 1.4;
  color: rgb(102, 102, 102);
}

.gooltipInner li img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.4s;
}

.gooltipInner li dl dt {
  font-size: 20px;
  font-weight: 600;
}

.gooltipInner li dl dd {
  text-shadow: 8px 0 4px #2473ce;
}

.line3 {
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: brown;
  top: 20px;
  left: 0;
}

.line4 {
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: brown;
  top: 20px;
  right: 10px;
}

/* 인포메이션 */
.information {
  margin: 0 auto;
  padding: 60px 0;
  width: 1040px;
}

.information .infoInner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---notice--- */
.infoInner .newsNotice {
  box-sizing: border-box;
  margin-right: 8px;
  padding: 35px 20px 30px;
  width: 326px;
  height: 500px;
  border-top: 2px solid #ff6941;
  background-color: #fff;
}

.infoTitle {
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.4;
}

.infoTitle strong {
  font-size: 28px;
  font-weight: 900;
  color: #272830;
}

.newsNotice .newsList {
  border-width: 1px 0;
  border-style: solid;
  border-color: #8c8c8c;
  cursor: pointer;
}

.newsNotice .newsList li {
  border-bottom: 1px solid #ececec;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 16px 10px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1;
  color: #666;
}

/* ---today time--- */
.information .today {
  box-sizing: border-box;
  margin-right: 8px;
  padding: 35px 20px 30px;
  width: 326px;
  height: 500px;

  border-top: 2px solid #ff6941;
}

.today .dayTime {
  margin: 0 0 20px;
  border-top: 1px solid #ececec;
  text-align: center;
  line-height: 1.4;
}

.today .dayTime small {
  font-size: 20px;
  color: #272830;
  font-weight: 500;
}

.today .todayTime {
  color: #ff4c2b;
  font-size: 36px;
  font-weight: 900;
}

.today .performing {
  height: 180px;
  overflow-y: scroll;
}

.today .performing .scrollBox {
  box-sizing: border-box;
  padding-left: 26px;
}

.performing .scrollBox ul li {
  height: 40px;
  font-size: 16px;
  color: #423b38;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.performing .scrollBox ul li .time {
  font-size: 14px;
  color: #444;
  padding-right: 20px;
}

.performing .scrollBox ul li .time i {
  font-size: 13px;
  padding-left: 20px;
  color: #c2c2c2;
}

.today .todayBtn {
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: 30px;
  font-size: 14px;
}

.today .todayBtn button {
  width: 49%;
}

.today .todayBtn button:first-child {
  padding: 12px;
  border: 1px solid #ff4c2b;
  border-radius: 30px;
  color: #ff4c2b;
}

.today .todayBtn button:last-child {
  padding: 12px;
  border: 1px solid #6a2c81;
  border-radius: 30px;
  color: #6a2c81;
}

/* ---smart content--- */
.information .smartContent {
  width: 326px;
  height: 500px;
}

.information .smartContent .infoTitle {
  width: 326px;
  height: 124px;
  background: linear-gradient(#f12711, #f5af19);
  cursor: pointer;
  color: white;
  padding-top: 42px;
  margin-bottom: 0;
}

.smartContent .infoTitle strong {
  font-weight: 700;
  color: white;
}

.smartContent .smartLink {
  display: flex;
  flex-wrap: wrap;
  padding-left: 34px;
}

.smartContent .smartLink a {
  color: #272830;
  text-align: center;
  line-height: 1.4;
  padding: 24px 0;
  cursor: pointer;
  width: 50%;
  display: inline-flex;
  align-items: center;
}

.smartContent .smartLink a i {
  font-size: 24px;
  color: lightcoral;
}

.smartContent .smartLink a span {
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
  color: #272830;
}

.traffic {
  display: inline-flex;
  align-items: center;
  padding-left: 26px;
}

.traffic i {
  text-align: center;
  font-size: 2em;
  padding: 20px;
  background: purple;
  border-radius: 50%;
  color: white;
}

.traffic p {
  line-height: 1.4;
  padding-left: 10px;
}

.traffic p small {
  color: #3b3b3b;
  font-size: 16px;
}

.traffic p span {
  font-size: 18px;
  color: #6a2c81;
  padding-right: 6px;
}

/* 비디오 클립 */
.videoClip {
  width: 1040px;
  margin: 0 auto;
  padding: 60px 0;
}

.videoInner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: -webkit-center;
}

.videoInner .videoContent {
  width: 235px;
  height: 270px;
  margin-bottom: 40px;
}

.videoInner .videoContent a p {
  overflow: hidden;
  width: 215px;
  height: 215px;
  border-radius: 50%;
}

.videoInner .videoContent a p img:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

.videoInner .videoContent a dl {
  padding: 20px 0;
  color: #3b3b3b;
  text-align: center;
  line-height: 1.4;
}

.videoInner .videoContent a dl dt {
  font-size: 14px;
}

.videoInner .videoContent a dl dd {
  font-size: 18px;
}

/* 팁 버튼 */
.tipArrow {
  text-align: center;
  margin-top: 40px;
}

.tipArrow i {
  color: orangered;
  font-size: 20px;
  padding-left: 10px;
}

.tipArrow i:hover {
  color: red;
}

.tipBtn {
  display: inline-block;
  padding: 14px 0;
  width: 240px;
  border: 1px solid #565656;
  border-radius: 30px;
  margin-top: 40px;
}

.tipBtn span {
  color: #444;
}

.tipBtn span strong {
  font-weight: 500;
}

/* 푸터 */
footer {
  width: 100%;
  padding-top: 100px;
}

footer article {
  border-top: 1px solid #d2d2d2;
  padding: 20px 0;
}

footer article ul {
  display: flex;
  justify-content: center;
  gap: 80px;
}

footer article ul li {
  font-size: 30px;
}

footer article ul li:first-child a {
  color: red;
}

footer article ul li:nth-of-type(2) a {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

footer article ul li:nth-of-type(3) a {
  color: #4267b2;
}

footer article ul li:nth-of-type(4) a {
  color: #2db400;
}

footer article ul li:nth-of-type(5) a {
  border-radius: 50%;
  color: orangered;
  text-decoration: dotted;
}

footer article ul li:last-child a {
  color: #1da1f2;
}

footer address {
  background-color: #444b55;
  padding-top: 40px;
}

footer address .addressLink {
  display: flex;
  gap: 10px;
}

footer address .addressLink li {
  padding-right: 10px;
  border-right: 1px solid #a0a0a0;
}

.addressLink li:nth-of-type(4) a,
.addressLink li:nth-of-type(5) a,
.addressLink li:last-child a {
  color: #d1d1d1;
}

footer address .addressLink li:first-child {
  margin-left: 40px;
}

footer address .addressLink li a {
  color: #8e8e8e;
  font-size: 12px;
}

address .addressText {
  padding: 20px 0;
  line-height: 1.4;
  color: #8e8e8e;
  font-size: 12px;
  margin-left: 40px;
}

.addressText .copyLight {
  font-size: 1.2em;
  font-weight: 700;
}
