@charset "utf-8";
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

#Wrap {
  display: grid;
  grid-template-rows: 10;
}

/* 헤더 */

.top {
  width: 100%;
  border: 1px solid #a0a0a0;
}

header section nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  width: 1040px;
  margin: 0 auto;
}

header section nav h1 {
  padding: 30px;
}

header section nav ul {
  display: flex;
  align-items: center;
  text-align: center;
}

header section nav ul li {
  font-size: 16px;
  color: #666;
  box-sizing: border-box;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  padding: 14px 6px;
  width: 160px;
  cursor: pointer;
  font-weight: 600;
}

header section nav ul li:hover {
  background-color: white;
}

header section nav ul li:nth-of-type(2) {
  border: none;
}

header section nav ul li:last-child {
  border-right: none;
}

header section nav button:first-child {
  background-color: orange;
}

header section nav button:nth-of-type(2) {
  background-color: green;
}

header section nav button:last-child {
  background-color: purple;
}

header section nav div {
  display: table;
  padding-top: 24px;
}

header section nav div button {
  font-size: 16px;
  color: #666;
  border: none;
  padding: 12px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* 헤더 검색,로고,로그인 */
.middle {
  display: flex;
  justify-content: center;
  gap: 12%;
  padding-top: 20px;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 4px solid orange;
}

.middle ul {
  display: flex;
}

/* 검색창 */
.search li {
  position: relative;
}

.search li input[type="text"] {
  width: 240px;
  height: 32px;
  text-indent: 10px;
}

.search li input[type="submit"] {
  position: absolute;
  right: 1px;
  width: 26px;
  height: 24px;
  padding: 0;
  text-indent: -999px;
  border: none;
  top: 6px;
  background: url("../images/btn_search1.gif") no-repeat left 0;
  cursor: pointer;
}

/* 로그인 */
.util {
  gap: 20px;
  color: #828282;
  font-size: 14px;
  border: 1px dashed coral;
  border-radius: 4px;
  padding: 10px;
}

/* 메인로고 */
.mainLogo {
  position: relative;
}

.mainLogo img {
  transition: all 0.4s;
}

.mainLogo h2 {
  visibility: hidden;
  font-size: 26px;
  color: green;
  position: absolute;
  top: 20px;
  transform: translate(10px, 10px);
}

/* gnb */
.bottom {
  display: flex;
  flex-direction: column;
  position: relative;
}

.gnb {
  position: relative;
  font-size: 16px;
  color: #666;
  font-weight: 600;
}

.gnb button {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 24px;
  height: 24px;
  border: none;
  background: #fff;
  padding: 0;
}

.gnb button img {
  width: 24px;
  height: 24px;
}

.gnb > ul {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.gnb > ul li {
  padding: 20px 80px;
}

.gnb > ul li:hover {
  background-color: orange;
  color: white;
}

.submenu {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #d2d2d2;
  z-index: 9999;
  position: absolute;
  top: 100%;
  background-color: white;
  opacity: 0;
}

.submenu div {
  display: flex;
  gap: 80px;
}

.submenu div {
  overflow: hidden;
}

.submenu.fadeIn {
  opacity: 1;
  transition: opacity 0.6s;
}

.submenu.fadeOut {
  opacity: 0;
  transition: opacity 0.6s;
}

.submenu ul {
  width: 160px;
  padding: 20px 0 20px 20px;
  border-left: 1px solid #d2d2d2;
}

.submenu ul li {
  padding: 6px 0;
  color: #666;
}

.submenu ul li a:hover {
  color: black;
  cursor: pointer;
}

/* 슬라이드 */
main {
  overflow: hidden;
  font-family: "Noto Sans KR", Montserrat, "Malgun Gothic", Dotum, sans-serif;
}

.bannerWrap {
  display: flex;
  width: 500vw;
  position: relative;
}

.inner {
  width: 100vw;
}

.inner img {
  width: 100%;
}

/* slide Btn */
.moveWrap {
  position: absolute;
  bottom: 15px;
  left: 9.2%;
  min-width: 140px;
}

.moveWrap ul {
  display: flex;
  justify-content: space-evenly;
}

.moveWrap ul li button {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
}

.moveWrap ul li button:active {
  background-color: red;
}

.moveBox {
  position: absolute;
}

.moveBox .prev {
  left: 0;
}

.moveBox .next {
  right: 0;
}

/* -------------------------what's new-------------------------------------- */

.content-inner {
  margin: 0 auto;
  width: 1040px;
  padding-top: 60px;
}

.titleWrap {
  margin: 40px 0;
  text-align: center;
  line-height: 40px;
  position: relative;
}

.titleWrap strong {
  font-size: 40px;
  color: #272830;
  font-weight: 900;
}

.titleWrap .subTitle {
  font-size: 20px;
  font-weight: 300;
  color: #272830;
}

.line1 {
  position: absolute;
  width: 360px;
  height: 1px;
  background-color: black;
  top: 20px;
  left: 0;
}

.line2 {
  position: absolute;
  width: 360px;
  height: 1px;
  background-color: black;
  top: 20px;
  right: 10px;
}

.title-large {
  position: relative;
  margin: 0 0 40px;
  text-align: center;
  background: transparent;
}

/* 이미지 박스 */
.list-columns ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.individual {
  width: 235px;
  height: 270px;
}

.individual .list-img {
  overflow: hidden;
  width: 235px;
  height: 165px;
}

.individual .list-img img {
  width: 100%;
  height: 100%;
}

.individual .list-img:hover img {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.4s;
}

.phrase {
  padding: 20px 0;
  line-height: 22px;
}

.text-small {
  text-align: center;
  font-size: 15px;
  letter-spacing: -1px;
}

.text-medium {
  text-align: center;
  font-size: 17px;
  letter-spacing: -1px;
}

/* 티켓 */
.ticketInfo {
  padding: 60px 0;
  margin: 0 auto;
  width: 1040px;
}

.small {
  display: block;
  font-size: 14px;
  color: #3b3b3b;
  margin-bottom: 10px;
}

.ticketInner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.ticketInner li {
  line-height: 1.6;
  width: 20%;
}

.ticketInner li:hover {
  cursor: pointer;
}

.ticketInner li dl dt {
  color: #272830;
  font-size: 18px;
  font-weight: 600;
}

.ticketInner li dl dd {
  color: #ff4c2b;
  font-size: 14px;
  text-indent: 4px;
  font-weight: 500;
}

.ticketInner li img {
  width: 62px;
  height: 62px;
}

/* ticketBtn */
.btnArrow {
  text-align: center;
  margin-top: 40px;
}

.btnArrow i {
  color: deepskyblue;
  font-size: 20px;
  padding-left: 10px;
}

.btnArrow i:hover {
  color: red;
}

.ticketBtn {
  display: inline-block;
  padding: 14px 0;
  width: 280px;
  border: 1px solid #ff4c1c;
  border-radius: 30px;
  margin-top: 40px;
}

.ticketBtn span {
  color: #444;
}

.ticketBtn span strong {
  font-weight: 500;
  margin-right: 10px;
}

/* 에버랜드 꿀팁 */
.goolTip {
  margin: 0 auto;
  width: 1040px;
  padding: 60px 0;
}

.uniqueTitle {
  font-family: "Single Day", cursive;
  background: linear-gradient(#de6161 40%, #2657eb 40%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
}

.goolTip article .gooltipInner {
  display: flex;
  justify-content: space-between;
}

.gooltipInner li {
  overflow: hidden;
}

.gooltipInner li dl {
  padding: 20px 0;
  text-align: center;
  line-height: 1.4;
  color: rgb(102, 102, 102);
}

.gooltipInner li img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.4s;
}

.gooltipInner li dl dt {
  font-size: 20px;
  font-weight: 600;
}

.gooltipInner li dl dd {
  text-shadow: 8px 0 4px #2473ce;
}

.line3 {
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: brown;
  top: 20px;
  left: 0;
}

.line4 {
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: brown;
  top: 20px;
  right: 10px;
}
